.board-list {
    padding: 30px;
    font-family: sans-serif;
    color: #FFFAFB;
}
.boards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.board {
    font-family: sans-serif;
    color:#FFFAFB;
    background: #2B2C28;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.board button{
    background: #2B2C28;
    transition: 0.2s;
}
.board button:hover{
    background: #339989;
}

.new-board {
    margin-top: 20px;
}
.new-board input {
    background-color: #FFFAFB;
    padding: 8px;
    margin-right: 10px;
}
.new-board button {
    padding: 8px 12px;
    background-color: #2B2C28;
    color: #FFFAFB;
    border: none;
    border-radius: 4px;
}
.new-board button:hover {
    padding: 8px 12px;
    background-color: #339989;
    color: #FFFAFB;
    border: none;
    border-radius: 4px;
}
.board-list ul {
    list-style: none;
    padding: 0;
}
.board-list div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.board-list div span {
    flex: 1;
    cursor: pointer;
}
.board-list div button {
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
}
.add-board input {
    padding: 6px;
    margin-top: 10px;
    margin-right: 8px;
}
