.column {
    background: #FFFAFB;
    min-width: 250px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

}
.column h3 button{
    background-color: #7DE2D1;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

.column h3 {
    margin-bottom: 10px;
}

.column .edit-column input {
    height: fit-content;
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
}

.column .edit-column button {
    height: fit-content;
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    background-color: #FFFAFB;
    border: none;
    border-radius: 4px;
}
.column .edit-column button:hover {
    background-color: #339989;
}

.new-task {
    margin-top: 10px;
}

.new-task input {
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
}

.new-task button {
    font-family: sans-serif;
    width: 100%;
    padding: 6px;
    background-color: #FFFAFB;
    color: #131515;
    border: none;
    border-radius: 4px;
}
