.task {
    background-color: #FFFAFB;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
    align-items: center;
    text-align: center;
    justify-content: center;
}
.task.textarea{
    width: 100%;
    padding: 6px;
}
.task.completed{
    background-color: #2B2C28;
    border: none;
}
.task.completed p{
    text-decoration: line-through;
}
.task-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
